.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px;
}

.header .logo {
    background: cyan;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 15px 0px 0px;
}

.logo img {
    border-radius: 10px;
    width: 160px;
    height: auto;
}

.header .navigation {
    background: purple;
    display: grid;
    grid-template-columns: 3fr repeat(6, 2fr) 3fr;
    grid-gap: 5px;

}

.header .navigation div {
    background: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .get-started {
    background: lightcoral;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header .get-started .get-started-button {
    margin: 20px 60px 20px 20px;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .get-started .burger-menu {
    background: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}